.py {
  padding: 6rem 0;
}

.hero {
  padding: 6rem 0;
  color: white;
  background-color: rgb(44, 62, 80);
}

.green_bg {
  background-color: $hero-bg;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 14px;
}

.text_line_light {
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
}

.text_line_dark {
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: $nav-bg;
}

p {
  font-size: 20px;
}

.heading {
  font-size: 70px;
}

.gap {
  padding-bottom: 30px !important;
}

.brand {
  font-size: 80px;
}

.avatar {
  width: 250px;
}

.first_footer {
  background-color: $nav-bg !important;
}

.send {
  background-color: $hero-bg !important;
  border: none;
}

.img_choose {
  height: 300px;
}

.portfolio-hover {
  position: relative;
}

.plus {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.plus:hover .plus-svg {
  opacity: 1;
}

.plus-svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background-color: rgba(26, 188, 156, 0.9);
}

.plus-svg svg {
  width: 25%;
  height: 25%;
  color: white;
}

@media only screen and (max-width: 768px) {
}
